# 제어문

## 조건문(if문)

```python
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```

1. `if`문은 반드시 참/거짓을 판단 할 수 있는 `조건식`과 함께 사용한다.
2. `조건식`이 참인 경우 : 이후의 문장을 실행한다.
3. `조건식`이 거짓인 경우 : `else:`이후의 문장을 실행한다.

In [ ]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

In [1]:
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2 == 0:
    print('짝수입니다')
else:
    print('홀수입니다')

숫자를 입력해주세요 :  25

홀수입니다

In [ ]:
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2 == 1:
    print('홀수입니다')
else:
    print('짝수입니다')

In [2]:
# num을 2로 나눈 나머지는 0, 1 두 가지 경우가 있다.
# if조건식과 0, 1은 자동형변환이 일어나 False, True로 변환된다.
num = input('숫자를 입력해주세요 : ')
num = int(num)

if num % 2:
    print('홀수입니다')
else:
    print('짝수입니다')

숫자를 입력해주세요 :  1

홀수입니다

### elif
```python
if <조건식>:
    if 조건이 참인 경우 실행
elif <조건식>:
    elif 조건이 참인 경우 실행
...
else:
    if 조건이 거짓인 경우 실행
```

In [3]:
score = int(input())

# 90점이상 A (95점이상이라면 good추가)
# 80점이상 B
# 70점이상 C
# 나머지 F

if score >= 90:
    print('A입니다.')
    if score >= 95:
        print('good')
elif score >= 80:
    print('B입니다.')
elif score >= 70:
    print('C입니다.')
else:
    print('F입니다.')

 1100

A입니다.
good

## 조건표현식
    true_value if <조건식> else false_value

In [4]:
print("True") if 1 < 2 else print("False")

True

In [5]:
if 1 < 0:
    print("True")
else:
    print("False")

False

In [6]:
num = 5

if num >= 0:
    value = num
else:
    value = 0 

print(value)

5

In [7]:
num = -5
value = num if num >= 0 else 0
print(value)

0

In [8]:
num = 10
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

In [ ]:
num = 5
'홀수' if num % 2 == 1 else '짝수'
print(result)

## 반복문

### while 문
```python
while <조건식>:
    실행할 코드

In [9]:
a = 0

while a < 5:
    print(a)
    a += 1 
    # a = a + 1

0
1
2
3
4

In [13]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고 해줘 : ')

안녕이라고 해줘 :  안녕

### for
정해진 범위 내의 반복

```python
for variable in sequence:
    실행할 코드
```

In [14]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [15]:
word = input('단어를 입력해주세요 : ')

for char in word:
    print(char)

단어를 입력해주세요 :  바나나

바
나
나

In [16]:
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [ ]:
# 1. 1~30까지 숫자 중에서 홀수를 출력
# 2. 1~30까지 숫자 중에서 홀수를 모아서 리스트로 출력

# 1
1
3
5
7
9
...

# 2 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [20]:
numbers = range(31)
result = []

for number in numbers:
    if number % 2 == 1:
        # print(number)
        result.append(number) #append()는 리스트에 새로운 요소를 추가하는 메소드

print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [21]:
menus = ['라면', '김밥', '떡볶이']

for menu in menus:
    print(menu)

라면
김밥
떡볶이

In [22]:
for i in range( len(menus) ):
    print(menus[i])

라면
김밥
떡볶이

In [25]:
for item in enumerate(menus): #enumerate()는 (index, 원소)인 튜플을 만드는 함수
    print(item)

(0, '라면')
(1, '김밥')
(2, '떡볶이')

In [24]:
for index, menu in enumerate(menus):
    print(index, menu)

0 라면
1 김밥
2 떡볶이

### dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [26]:
info = {
    'name': 'Alisha',
    'location': 'Incheon',
    'phone': '010-1234-1234',
}

In [29]:
for key in info:
    print(key)
    print(info[key])

name
Alisha
location
Incheon
phone
010-1234-1234

In [30]:
blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}

In [31]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type:
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [32]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [33]:
result = 0 #계산을 시작할 기준점

for value in blood_type.values():
    # print(value)
    result = result + value #result+= value

print(f'총인원은 {result}명입니다.')

총인원은 14명입니다.

In [34]:
for item in blood_type.items():
    print(item)

('A', 5)
('B', 4)
('O', 2)
('AB', 3)

In [35]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5명입니다.
B형은 4명입니다.
O형은 2명입니다.
AB형은 3명입니다.

### break
반복문을 종료시키는 키워드

In [36]:
for i in range(100):
    print(i)
    if i > 10:
        print('10넘었어!!!')
        break

0
1
2
3
4
5
6
7
8
9
10
11
10넘었어!!!

In [37]:
rice = ['보리', '보리', '보리', '보리', '보리', '보리', '쌀', '보리']
# 보리 보리 보리 쌀 잡았다!

for i in rice:
    print(i)
    if i == '쌀':
        print('잡았다!')
        break

보리
보리
보리
보리
보리
보리
쌀
잡았다!

### continue

continue 이후의 코드를 실행하지 않고 다음 반복을 실행

In [38]:
for i in range(10):
    if i % 2:
        continue

    print(i)

0
2
4
6
8

In [39]:
age = [10, 23, 8, 30, 29, 15]

for a in age:
    if a < 20:
        continue
    print(f'{a}살은 성인입니다.')

23살은 성인입니다.
30살은 성인입니다.
29살은 성인입니다.

### else
else문은 끝까지 반복이 진행이 된 후 실행합니다. (break를 만나지 않은 경우)

In [40]:
for i in range(50):
    print(i)
    if i > 10:
        break
else:
    print('break 못만남')

0
1
2
3
4
5
6
7
8
9
10
11

In [41]:
numbers = [1, 2, 3, 4, 5]
print(1 in numbers)
print(99 in numbers)

True
False

In [42]:
numbers = [1, 2, 3, 4, 5]
target = 1

for number in numbers:
    if number == target:
        print('True')
        break
    else:
        print('False')

True

### pass

In [43]:
if True:
    pass

In [44]:
def login():
    pass
    
def logout():
    pass

### match

```python
match value:
    case 조건:
        실행할 코드
    case 조건:
        실행할 코드
    case _:
        실행할 코드
```

In [45]:
status = 405

match status:
    case 400:
        print('bad request')
    case 404:
        print('not found')
    case _:
        print('something is wrong')

something is wrong